<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap18="http://schemas.microsoft.com/appx/manifest/uap/windows10/18"
  IgnorableNamespaces="uap rescap uap18">

    <Identity
      Name="Gated.xornent.gated.msix"
      Publisher="CN=XSI"
      Version="0.31.20.0" />

    <Properties>
        <DisplayName>xornent.gated.msix</DisplayName>
        <PublisherDisplayName>Gated</PublisherDisplayName>
        <Logo>Images\StoreLogo.png</Logo>
    </Properties>

    <Dependencies>
        <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
        <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
        <PackageDependency Name="Microsoft.VCLibs.140.00.UWPDesktop" MinVersion="14.0.24217.0" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" />
    </Dependencies>

    <Resources>
        <Resource Language="x-generate"/>
    </Resources>

    <Applications>
        <Application Id="App"
          Executable="$targetnametoken$.exe"
          EntryPoint="$targetentrypoint$" uap18:RuntimeBehavior="win32App">
            <uap:VisualElements
              DisplayName="xornent.gated.msix"
              Description="Gated flow cytometry analyzer"
              BackgroundColor="transparent"
              Square150x150Logo="Images\Square150x150Logo.png"
              Square44x44Logo="Images\Square44x44Logo.png">
                <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"
                                 Square71x71Logo="Images\SmallTile.png"
                                 Square310x310Logo="Images\LargeTile.png" ShortName="Gated"/>
                <uap:SplashScreen Image="Images\SplashScreen.png" />
                <uap:InitialRotationPreference>
                    <uap:Rotation Preference="portrait"/>
                    <uap:Rotation Preference="landscape"/>
                    <uap:Rotation Preference="landscapeFlipped"/>
                    <uap:Rotation Preference="portraitFlipped"/>
                </uap:InitialRotationPreference>
            </uap:VisualElements>
            <Extensions>
                <uap:Extension Category="windows.fileTypeAssociation">
                    <uap:FileTypeAssociation Name=".gated">
                        <uap:SupportedFileTypes>
                            <uap:FileType ContentType="application/binary">.gated</uap:FileType>
                        </uap:SupportedFileTypes>
                        <uap:DisplayName>Gated Workspace</uap:DisplayName>
                        <uap:Logo>gated.png</uap:Logo>
                        <uap:InfoTip>Gated Workspace</uap:InfoTip>
                        <uap:EditFlags OpenIsSafe="true"/>
                    </uap:FileTypeAssociation>
                </uap:Extension>
            </Extensions>
        </Application>
    </Applications>

    <Capabilities>
        <Capability Name="internetClient" />
        <rescap:Capability Name="runFullTrust" />
    </Capabilities>
</Package>
