
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Fragment>
    <ComponentGroup Id="gated_core_comps" Directory="INSTALLFOLDER">
        <Component Guid="{8C24DEE6-FD51-425B-81B7-433CBD6DA0C2}">
            <File Id="exec" Source="../artifacts/gated-win-x64/gated.exe" />
            <File Id="icon" Source="../gated.ico" />
            <File Id="wspicon" Source="../gated-workspace.ico" />
            
            <File Source="../artifacts/gated-win-x64/av_libglesv2.dll" />
            <File Source="../artifacts/gated-win-x64/Avalonia.Base.dll" />
            <File Source="../artifacts/gated-win-x64/Avalonia.Controls.DataGrid.dll" />
            <File Source="../artifacts/gated-win-x64/Avalonia.Controls.dll" />
            <File Source="../artifacts/gated-win-x64/Avalonia.DesignerSupport.dll" />
            <File Source="../artifacts/gated-win-x64/Avalonia.Desktop.dll" />
            <File Source="../artifacts/gated-win-x64/Avalonia.Dialogs.dll" />
            <File Source="../artifacts/gated-win-x64/Avalonia.dll" />
            <File Source="../artifacts/gated-win-x64/Avalonia.Fonts.Inter.dll" />
            <File Source="../artifacts/gated-win-x64/Avalonia.FreeDesktop.dll" />
            <File Source="../artifacts/gated-win-x64/Avalonia.Markup.dll" />
            <File Source="../artifacts/gated-win-x64/Avalonia.Markup.Xaml.dll" />
            <File Source="../artifacts/gated-win-x64/Avalonia.Metal.dll" />
            <File Source="../artifacts/gated-win-x64/Avalonia.MicroCom.dll" />
            <File Source="../artifacts/gated-win-x64/Avalonia.Native.dll" />
            <File Source="../artifacts/gated-win-x64/Avalonia.OpenGL.dll" />
            <File Source="../artifacts/gated-win-x64/Avalonia.ReactiveUI.dll" />
            <File Source="../artifacts/gated-win-x64/Avalonia.Remote.Protocol.dll" />
            <File Source="../artifacts/gated-win-x64/Avalonia.Skia.dll" />
            <File Source="../artifacts/gated-win-x64/Avalonia.Svg.Skia.dll" />
            <File Source="../artifacts/gated-win-x64/Avalonia.Themes.Fluent.dll" />
            <File Source="../artifacts/gated-win-x64/Avalonia.Vulkan.dll" />
            <File Source="../artifacts/gated-win-x64/Avalonia.Win32.Automation.dll" />
            <File Source="../artifacts/gated-win-x64/Avalonia.Win32.dll" />
            <File Source="../artifacts/gated-win-x64/Avalonia.X11.dll" />
            <File Source="../artifacts/gated-win-x64/AvaloniaEdit.dll" />
            <File Source="../artifacts/gated-win-x64/AvaloniaEdit.TextMate.dll" />
            <File Source="../artifacts/gated-win-x64/DynamicData.dll" />
            <File Source="../artifacts/gated-win-x64/ExCSS.dll" />
            <File Source="../artifacts/gated-win-x64/gated.deps.json" />
            <File Source="../artifacts/gated-win-x64/gated.dll" />
            <File Source="../artifacts/gated-win-x64/gated.runtimeconfig.json" />
            <File Source="../artifacts/gated-win-x64/HarfBuzzSharp.dll" />
            <File Source="../artifacts/gated-win-x64/libHarfBuzzSharp.dll" />
            <File Source="../artifacts/gated-win-x64/libonigwrap.dll" />
            <File Source="../artifacts/gated-win-x64/libSkiaSharp.dll" />
            <File Source="../artifacts/gated-win-x64/MicroCom.Runtime.dll" />
            <File Source="../artifacts/gated-win-x64/Onigwrap.dll" />
            <File Source="../artifacts/gated-win-x64/Python.Runtime.dll" />
            <File Source="../artifacts/gated-win-x64/ReactiveUI.dll" />
            <File Source="../artifacts/gated-win-x64/ShimSkiaSharp.dll" />
            <File Source="../artifacts/gated-win-x64/SkiaSharp.dll" />
            <File Source="../artifacts/gated-win-x64/SkiaSharp.HarfBuzz.dll" />
            <File Source="../artifacts/gated-win-x64/Splat.dll" />
            <File Source="../artifacts/gated-win-x64/Svg.Custom.dll" />
            <File Source="../artifacts/gated-win-x64/Svg.Model.dll" />
            <File Source="../artifacts/gated-win-x64/Svg.Skia.dll" />
            <File Source="../artifacts/gated-win-x64/System.Reactive.dll" />
            <File Source="../artifacts/gated-win-x64/TextMateSharp.dll" />
            <File Source="../artifacts/gated-win-x64/TextMateSharp.Grammars.dll" />
            <File Source="../artifacts/gated-win-x64/Tmds.DBus.Protocol.dll" />

            <Shortcut Target="[#exec]" Icon="icon" Name="Gated" Directory="ProgramMenuFolder" WorkingDirectory="INSTALLFOLDER" />
            
            <RemoveFile Name="gated.exe" On="both" />
            <RemoveFile Name="gated.ico" On="both" />
            <RemoveFile Name="gated-workspace.ico" On="both" />
            
            <RemoveFile On="both" Name="av_libglesv2.dll" />
            <RemoveFile On="both" Name="Avalonia.Base.dll" />
            <RemoveFile On="both" Name="Avalonia.Controls.DataGrid.dll" />
            <RemoveFile On="both" Name="Avalonia.Controls.dll" />
            <RemoveFile On="both" Name="Avalonia.DesignerSupport.dll" />
            <RemoveFile On="both" Name="Avalonia.Desktop.dll" />
            <RemoveFile On="both" Name="Avalonia.Dialogs.dll" />
            <RemoveFile On="both" Name="Avalonia.dll" />
            <RemoveFile On="both" Name="Avalonia.Fonts.Inter.dll" />
            <RemoveFile On="both" Name="Avalonia.FreeDesktop.dll" />
            <RemoveFile On="both" Name="Avalonia.Markup.dll" />
            <RemoveFile On="both" Name="Avalonia.Markup.Xaml.dll" />
            <RemoveFile On="both" Name="Avalonia.Metal.dll" />
            <RemoveFile On="both" Name="Avalonia.MicroCom.dll" />
            <RemoveFile On="both" Name="Avalonia.Native.dll" />
            <RemoveFile On="both" Name="Avalonia.OpenGL.dll" />
            <RemoveFile On="both" Name="Avalonia.ReactiveUI.dll" />
            <RemoveFile On="both" Name="Avalonia.Remote.Protocol.dll" />
            <RemoveFile On="both" Name="Avalonia.Skia.dll" />
            <RemoveFile On="both" Name="Avalonia.Svg.Skia.dll" />
            <RemoveFile On="both" Name="Avalonia.Themes.Fluent.dll" />
            <RemoveFile On="both" Name="Avalonia.Vulkan.dll" />
            <RemoveFile On="both" Name="Avalonia.Win32.Automation.dll" />
            <RemoveFile On="both" Name="Avalonia.Win32.dll" />
            <RemoveFile On="both" Name="Avalonia.X11.dll" />
            <RemoveFile On="both" Name="AvaloniaEdit.dll" />
            <RemoveFile On="both" Name="AvaloniaEdit.TextMate.dll" />
            <RemoveFile On="both" Name="DynamicData.dll" />
            <RemoveFile On="both" Name="ExCSS.dll" />
            <RemoveFile On="both" Name="gated.deps.json" />
            <RemoveFile On="both" Name="gated.dll" />
            <RemoveFile On="both" Name="gated.runtimeconfig.json" />
            <RemoveFile On="both" Name="HarfBuzzSharp.dll" />
            <RemoveFile On="both" Name="libHarfBuzzSharp.dll" />
            <RemoveFile On="both" Name="libonigwrap.dll" />
            <RemoveFile On="both" Name="libSkiaSharp.dll" />
            <RemoveFile On="both" Name="MicroCom.Runtime.dll" />
            <RemoveFile On="both" Name="Onigwrap.dll" />
            <RemoveFile On="both" Name="Python.Runtime.dll" />
            <RemoveFile On="both" Name="ReactiveUI.dll" />
            <RemoveFile On="both" Name="ShimSkiaSharp.dll" />
            <RemoveFile On="both" Name="SkiaSharp.dll" />
            <RemoveFile On="both" Name="SkiaSharp.HarfBuzz.dll" />
            <RemoveFile On="both" Name="Splat.dll" />
            <RemoveFile On="both" Name="Svg.Custom.dll" />
            <RemoveFile On="both" Name="Svg.Model.dll" />
            <RemoveFile On="both" Name="Svg.Skia.dll" />
            <RemoveFile On="both" Name="System.Reactive.dll" />
            <RemoveFile On="both" Name="TextMateSharp.dll" />
            <RemoveFile On="both" Name="TextMateSharp.Grammars.dll" />
            <RemoveFile On="both" Name="Tmds.DBus.Protocol.dll" />

            <util:RemoveFolderEx Property="INSTALLPYTHON" On="uninstall" />
            <RemoveFile On="uninstall" Name="update.exe" />
            <RemoveFile On="uninstall" Name="gated.update.json" />

            <RemoveFolder Directory="INSTALLFOLDER" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\Xornent\Gated\gated-core" Name="installed" Type="integer" Value="1" KeyPath="yes" />
            <RegistryValue Root="HKCU" Key="Software\Xornent\Gated\gated-core" Name="python" Type="string" Value="[INSTALLFOLDER]python" />

            <ProgId Id="gated-workspace" Description="Gated Workspace" Icon="wspicon">
                <Extension Id="gated" ContentType="application/binary">
                    <Verb Id="open" Command="open" TargetFile="exec"
                          Argument="&quot;%1&quot;" />
                </Extension>
            </ProgId>
            <RegistryValue Root="HKCU" Key="Software\Classes\Applications\gated.exe" Type="string" Value="Gated Analyzer" />
            <RegistryValue Root="HKCU" Key="Software\Classes\Applications\gated.exe" Type="string" Name="FriendlyAppName" Value="Gated Analyzer" />
            <RegistryValue Root="HKCU" Key="Software\Classes\Applications\gated.exe\SupportedTypes\.gated" Type="string" Value="" />
        </Component>
        
        <Component Guid="{CCFDD7B4-B131-4AE0-A7A0-0AA98A19F327}" Subdirectory="zh-Hans">
            <File Source="../artifacts/gated-win-x64/zh-hans/AvaloniaEdit.resources.dll" />
            <RemoveFile Name="AvaloniaEdit.resources.dll" On="both" />
            <RemoveFolder On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\Xornent\Gated\gated-core-locale-zhhans" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        </Component>

    </ComponentGroup>
  </Fragment>
</Wix>